<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell">
                    <strong><a href="{{relativeURL "index.html"}}" class="title">{{project.name}}</a></strong>
                </div>
                <div class="table-cell ono-gh">
                    <a class="github-button" href="https://github.com/{{settings.gaSite}}" data-show-count="true" aria-label="Star {{settings.gaSite}} on GitHub">Star</a>
                </div>
            </div>
        </div>
    </div>
</header>
